<!DOCTYPE HTML>
<html lang="en">
  <%= render '/head.*' %>
  <body>
    <%= render '/header.*' %>
    <div class=wrapper>
      <div id="doc-nav" class="doc-nav">
      </div>
      <div class="main class">
        <% if @config[:breadcrumbs] %>
          <% ancestor_array = ancestor_path_array(@item) unless ancestor_path_array(@item).empty? %>
          <% if ancestor_array %>
            <ul class="breadcrumbs">
              <% ancestor_array.reverse_each do |item| %>
                <li class="breadcrumb"><%= link_to item.key?(:title) ? "#{item[:title]}" : "Breadcrumb", item %></li>
              <% end %>
              <li class="breadcrumb"><%= @item.key?(:title) ? "#{@item[:title]}" : "Current page" %></li>
            </ul>
          <% end %>
        <% end %>
        <%= yield %>
        <hr>
        <div class="edit-on">
          <%= edit_on_gitlab(@item) %>
        </div>
        <% if @item[:last_updated] %>
          <hr>
          <p class="last-updated">
            <em>Last updated <%= @item[:last_updated] %></em>
          </p>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>

    <%= render '/footer.*' %>
    <%= render '/docsearch.*' %>
    <%= render '/analytics.*' %>
  </body>
</html>
